<section class="header" id="menu">
   <div class="nav">
    <header class="highlight">
      <div class="logo">
        <input type="checkbox" class="logo__checkbox" id="navi-toggle"/>
        <label for="navi-toggle" class="logo__button">
           <span class="logo__header">
             <strong class="logo__text">R</strong><span class="logo__span">Rodufy</span>
           </span>
        </label>
      </div>
      <ul class="btn">
        <li>
          <a routerLink='/signup'><button  class="field btn btn-outline">Register</button></a>
        </li>
        <li>
          <a routerLink="/login"><button type="button" class="clossal btn btn-outline-danger">Login</button></a>
        </li>
      </ul>
    </header>
   </div> 
   <div class="container">
     <div class="row">
       <div class="col-6">
          <h1 class="mission">
            Our mission is to 
            <br class="hidden-xs"/>
            <a href="#" class="humanity">advance</a> humanity
          </h1>
          <p class="machines">
           We would strive to achieve that through 
           <br class="hidden-xs"/>
           providing education and quality health
          </p>
       </div>
       <div class="col-6">
         <img src="/assets/img/rodufy.png" alt="" class="rodufy"/>
       </div>
     </div>
     <div>
       <ul class="traveller">
         <li class="trenches">
           <a href="#" class="demi">dowload app</a>
          </li>
         <li class="iconbox">
           <img src="assets/img/rodufy1.png" alt="" class="app__image"/>
         </li>
         <li class="iconbox">
           <img src="/assets/img/rodufy2.png" alt="" class="app__image"/>
         </li>
       </ul>
     </div>
   </div>
</section>

<section class="excel">
  <app-excel></app-excel>
</section>
<app-contact></app-contact>
<app-footer></app-footer>