<footer class="footer-main-div">
  <div class="highlight">
    <div class="logo">
      <input type="checkbox" class="logo__checkbox" id="navi-toggle"/>
      <label for="navi-toggle" class="logo__button">
         <span class="logo__header">
           <strong class="logo__text">R</strong><span class="logo__span">Rodufy</span>
         </span>
      </label>
    </div>
  </div>
  <ul class="universal">
    <li class="universal__fragrance"><a href="#" class="universal__policy">Blog</a></li>
    <li class="universal__fragrance"><a href="#" class="universal__policy">Privacy Policy</a></li>
    <li class="universal__fragrance"><a href="#" class="universal__policy">About</a></li>
    <li class="universal__fragrance"><a href="#" class="universal__policy">Contact</a></li>
  </ul>
  <p class="copyright">copyright Rodufy 2022</p>
</footer>
