<nav class="sidebar">
  <div class="navigation">
    <div class="suspicion">
     <div class="logo">
       <input type="checkbox" class="logo__checkbox" id="navi-toggle"/>
       <label for="navi-toggle" class="logo__button">
          <span class="logo__header">
            <strong class="logo__text">R</strong><span class="logo__span">Rodufy</span>
          </span>
       </label>
     </div>
     <img src="/assets/img/rodufy5.png" alt="" class="line__image"/>
     <img src="/assets/img/rodufy6.png" alt="" class="horses__image"/>
     <img src="/assets/img/rodufy6.png" alt="" class="upload__image"/>
    </div>
  </div>
 </nav>
 <main class="pluto">
   <div class="discover">
     <h1 class="main">Login</h1>
     <form>
       <div class="link__details form-group">
        <div class="clap__move">
          <input name="email" type="email" class="clap__input" placeholder="Email" required/>
        </div>
        <div class="clap__control">
          <input name="password" type="password" class="clap__input" placeholder="Password" required />
        </div>
       </div>
       <button class="btn frame-btn">Login</button>
     </form>
   </div>
 </main>