<section class="divine">
   <div class="container">
    <div class="row">
        <div class="col-sm">
            <h3 class="heading-bomb">Contact Us</h3>
            <p class="curated-zone">Got an questions, feedback, request and complains? Reach out</p>
            <ul>
              <li class="white-drama">
                <a href="#">
                  <img src="/assets/img/whatsapp.svg" alt="" class="whatsapp"/>
                  <span class="number">+2348232323892</span>
                </a>
              </li>
              <li class="white-drama">
                <a href="#">
                  <img src="/assets/img/mail.svg" alt="" class="message"/>
                  <span class="number">contact@us.com</span>
                 </a>
              </li>
            </ul>
        </div>
        <div class="col-sm">
         col-sm
        </div>
        <div class="col-sm">
            col-sm
        </div>
    </div>
   </div>
</section>