$color-primary-purple: #301446;
$color-pink: rgba(163, 57, 255, 0.16);
$color-dark: #000000;
$color-white: #FFFFFF;
$color-secondary-blen: #EA7052;

.sidebar {
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation {
  padding: 1rem 2rem;
  background-color: $color-primary-purple;
  width: 15%;
  height: 100%;
  position: fixed;
  margin-bottom: 10rem;
  overflow: auto;
}

.suspicion {
  display: flex;
  justify-content: space-between;
  align-items: left;
  height: 60%;
  z-index: 1;
  width: 100%;
}

.logo {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-pink, .1);
    text-align: center;
    cursor: pointer;
    position: absolute;
  }

  &__text {
    font-size: 2rem;
    margin-left: 1rem;
    font-weight: 100;
    color: $color-primary-purple;
  }

  &__span {
    margin-left: 2rem;
    color: $color-white;
    font-size: 1rem;
    font-family: 'Chalkboard SE';
    font-weight: 300;
  }
}

.pluto {
  margin-left: 15%;
  padding: 0px 25px;
  position: absolute;
}

.line__image {
  margin-top: 5rem;
  width: 60%;
  height: 60%;
  position: absolute;
}

.horses__image {
  margin-top: 30rem;
  width: 50%;
  height: 50%;
  position: absolute;
}

.upload__image {
  margin-top: 60rem;
  width: 40%;
  height: 40%;
  position: absolute;
}


.discover {
  background: $color-white;
  display: flex;
  position: absolute;
  border-radius: 40px;
  width:  40rem;
  height: 40rem;
  z-index: 100;
  left: 20rem;
  margin-top: 4rem;
}

.main {
  font-size: 1.5rem;
  color: $color-dark;
  font-weight: 700;
  margin-left: 15rem;
  font-family: 'Chalkboard SE';
  margin-top: 2rem;
}

form {
  display: block;
  margin-top: 0em;
}

.link__details {
  display: flex;
  align-items: center;
}

.form-group {
  position: relative;
  display: block;
}

.clap__move {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.clap__input {
   display: flex;
   flex-direction: columns;
   align-items: center;
   padding: 1rem 2rem;
   position: relative;
   width: 100%;
   right: 4rem;
   top: 3rem;
   height: 38px;
   background: #F4F4F4;
}

.frame-btn {
  font-size: 1.5rem;
  color: $color-white;
  font-family: 'Chalkboard SE';
   margin-top: 6rem;
   background: $color-secondary-blen;
   position: absolute;
}
