<div class="container">
  <div class="row">
    <div class="col-6">
      <h3 class="heading-bomb">
        Everything you'll
        <br class="hidden-xs"/>
        need to <a href="#" class="demi">excel</a> in life
      </h3>
      <p class="curated-zone">
        We've curated a list of valuable resources
        <br class="hidden-xs"/>
        to get you going in life, all for free!
      </p>
      <a routerLink="/funding"><button type="submit" class="frame-btn btn-lg disabled">Get Started</button></a>
    </div>
    <div class="col-6">
       <img src="/assets/img/rodufy3.png" alt="" class="curated__image"/>
    </div>
  </div>
</div>
